@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #ff4000,
    ),
    'info': (
      'base': #383838,
    ),
  ),
  $font-size: (
    'extra-large': 18px,
    'large': 14px,
    'medium': 12px,
    'base': 12px,
    'small': 11px,
    'extra-small': 10px,
  ),
  $text-color: ()
);
@use 'element-plus/theme-chalk/src/index.scss' as *;

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #2d72d2 !important;
  color: #fff;
}
.el-input__wrapper {
  background-color: var(--input-color) !important;
  box-shadow: none !important;
}
.el-input__inner {
  color: var(--title--color) !important;
  box-shadow: none !important;
}

.el-message-box {
  .el-input__wrapper {
    background-color: var(--bg-color-2) !important;
  }
}
.el-select__wrapper {
  line-height: 18px;
  font-size: 12px;
  min-height: 25px;
}

.small-slider {
  margin-left: auto;
  --el-slider-button-size: 12px;
  --el-slider-height: 4px;
  --el-slider-main-bg-color: #d8d8d8;

  .el-input-number {
    width: 80px !important;
  }

  .el-input__wrapper {
    padding-left: 26px !important;
    padding-right: 26px !important;
  }

  .el-slider__runway {
    margin-right: 10px !important;
  }
}

.custom-slider {
  margin-left: auto;
  --el-slider-button-size: 0px;
  --el-slider-height: 26px;
  --el-slider-button-wrapper-size: 0px;
  --el-slider-main-bg-color: var(--bg-color-4);
  --el-slider-border-radius: 8px;
  .el-input-number {
    width: 80px !important;
  }
  .el-input__wrapper {
    padding-left: 26px !important;
    padding-right: 26px !important;
  }
  .el-slider__runway {
    overflow: hidden;
  }
  .el-slider__button {
    display: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
