@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #ff4000,
    ),
  ),
  $font-size: (
    'extra-large': 18px,
    'large': 14px,
    'medium': 12px,
    'base': 12px,
    'small': 11px,
    'extra-small': 10px,
  ),
  $text-color: ()
);
@use 'element-plus/theme-chalk/src/index.scss' as *;

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #2d72d2 !important;
  color: #fff;
}
.el-input__wrapper {
  background-color: var(--input-color) !important;
  box-shadow: none !important;
}
.el-input__inner {
  color: var(--title--color) !important;
  box-shadow: none !important;
}